* {
  box-sizing: border-box;  
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

button:hover:disabled {
  cursor: default;
}

h1 {
  text-align: center;
  margin:0;
  padding:0;
  color: rgb(16, 121, 190)
}

.add-item-form{
  border: 1px solid black;
  width: 100%;
}
.add-item-form .addButton .list-controller{
  padding: 80px;
}
.new{
  width: 80%;
  }

body {
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px;
}

ul {
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px;
  
}

.bookmark-element {
  border: 10px rgb(16, 121, 190) solid;
  padding: 10px;
  width: 100%;
  height: auto;
}

.add-item{
 margin-top: 5px;
 margin-bottom: 5px;
}

.item-title{
 margin-top: 5px;
 margin-bottom: 5px;
}

.item-desc{
 margin-top: 5px;
 margin-bottom: 5px;
}

.item-url{
 margin-top: 5px;
 margin-bottom: 5px;
}

.item-rating{
 margin-top: 5px;
 margin-bottom: 5px;
}

.bookmark-element {
  display: inline-block;
  color: rgb(16, 121, 190);
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

.bookmark-list {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-height: auto;
}


.inside-bookmark-list {
  border: none;
}

ul {
  list-style: none;
}

  
.error{
  display: inline-block;
  color: red;
}